.parent_Grid {
    align-items: center;
    justify-content: center;
    height: 86vh;
}

.Parent_Typograpy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width: 800px) {
    .Parent_Inputs {
        margin-top: 15px !important;
    }
}

@media (max-width: 800px) {
    .Parent_Inputs {
        margin-top: 8px !important;
    }
}

@media (min-width: 600px) {
    .tile_login {
        text-transform: uppercase;
        font-size: 20px !important;
        font-weight: bold !important;
    }
}


@media (min-width: 1000px) {
    .tile_login {
        text-transform: uppercase;
        font-size: 28px !important;
        font-weight: bold !important;
    }
}


@media (max-width: 600px) {
    .tile_login {
        text-transform: uppercase;
        font-size: 18px !important;
        font-weight: bold !important;
    }
}




@media (min-width: 600px) {
    .tile_info {
        font-size: 14px !important;
    }
}

@media (min-width: 1000px) {
    .tile_info {
        font-size: 18px !important;
    }
}

@media (max-width: 600px) {
    .tile_info {
        font-size: 10px !important;
        text-align: center;
        line-height: 10px;
    }
}

.Forgot_Password {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline blue;
}

@media (max-width: 600px) {
    .Forgot_Password {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        font-size: 12px;
    }
}



.Parent_Button {
    margin-top: 35px !important;

    height: auto;
    align-items: center;
    justify-content: center;
}

